ul {
    list-style-type: none;
    margin: 6px;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(61, 59, 59);
    align-items: center;
    position: fixed;
    top: -7px;
    left: -6px;
    width: 100%;
}

body {
    background-color: white;
}

li {
    float: right;
    padding-right: 10px;    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(241, 228, 88);
    color: black
}

#cv {
    background-color: rgb(241, 228, 88);
    color: black;
}

#name {
    color: rgb(241, 228, 88);
    font-size: xx-large;
    padding-top: 4px;
    padding-left: 8px;
}

/* NAVBAR END */


