@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

html{
    scroll-behavior: smooth;
} 

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(28, 27, 27);
    color: white;
    background-image: url('images/background.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

li, a, button {
    font-family: Anta;
    font-weight: 400;
    font-size: 16px;
    color: rgb(173, 163, 59);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px 10px 10px;
    background-color: rgb(61, 59, 59);
    position: fixed;
    top: 0;
    width: 99%;
    z-index: 9999;     /*highest pref to nav bar*/
}

  
.logo {    
    /* background-color: aliceblue; */
    cursor: default;
    height: 40px;
    width: 400px;
    margin-right: auto;
    margin-left: -90px;
    display: flex;
    align-items: flex-end;
}

.logo img {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.logo h1 {
    font-family: Anta;
    font-weight: 400;
    height: 100%;
    width: 100%;
    color: rgb(203, 193, 75);
    margin-left: -75px;
    align-self: center;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a{
    transition: all 0.3s ease 0s;
    color: white;
}

.navbar li a:hover{
    color:  black;
    background-color: rgb(173, 163, 59);
}

button {
    padding: 9px 25px;
    margin-right: 5px;
    background-color: rgb(173, 163, 59, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: black;
}

/* NAVBAR END */

main {
    margin-top: 30px;
    font-family: Anta;
    font-weight: 400;
    color: #ababab;
}



/* ------------------About________________ */
.heading{
    text-align: center;
}

#about{
    padding: 80px 40px;
}

.about-content p{
    margin: 20px 50px;
    font-size: 20px;
    color: #ababab;
    text-align:center; 
    vertical-align: middle;
    /* color: #ADA33B; */
}

.profile_pic{
    border-radius: 50%; 
    max-width: 17%; 
    margin:auto; 
    display: block;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: scaleX(-1); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: scaleX(-1); } 
}
@keyframes spin { 
    0%{
        animation-timing-function: linear;
    }
    12.5% { 
        animation-timing-function: linear;
        -webkit-transform: rotateY(180deg); 
        transform:rotateY(180deg); 
    }
    25% { 
        animation-timing-function: ease-out;
        -webkit-transform: rotateY(360deg); 
        transform:rotateY(360deg); 
    }
    25%, 50%, 75%, 100%{
        -webkit-transform: rotateY(0deg); 
        transform:rotateY(0deg); 
    }

}

/* ------------------Skills and XP________________ */

#experience{
    padding: 80px 40px;
}

.about-col-2 img{
    width: 100%;
    border-radius: 15px;
}

.row {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
}

.tab-contents li{
    margin: 20px 50px;
    font-size: 20px;
    color: #ababab;
    text-align:left; 
    vertical-align: middle;
    /* color: #ADA33B; */
}

.skills {
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}

.skills div {
    margin: 10px;
    align-items: center;
}

.work-xp {
    color: #FFFFFF;
    padding: 1.5rem;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.company-icon {
    padding: 0.5rem;
    border-radius: 9999px;
    color: #FFFFFF;
    margin-right: 0.75rem;
}

.work-position {
    font-size: 0.875rem;
    color: #CBD5E0;
}

.more-info{
    margin: 1.5rem;
    display: flex;
    justify-content: center;
}

.more-info button {
    background-color: #047857;
    color: #FFFFFF;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.more-info button:hover {
    background-color: #2563EB;
}

.more-info-icon {
    height: 1rem;
    width: 1rem;
    margin-left: 0.5rem;
}

/* ------------------Projects________________ */

#projects {
    padding: 60px 30px;
}

.project-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.wrapper {
    position: relative;
    overflow:visible;
    border-radius: 10px;
    transition: background-color 0.8s, transform 0.8s;
}

.wrapper .content {
    background: rgb(76, 71, 71);
    padding: 20px 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    align-items: justify;
}

.wrapper .content h2{
    color: rgb(0, 0, 0);
    justify-content: center;
    margin-right: 20px;
    display: flex;
}

.wrapper .content p, li{
    color: rgb(0,0,0);
}

.wrapper .fa-brands {
    position: absolute;
    inset: 0;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.wrapper .content
.wrapper .fa-brands {
    transition: background-color 0.8s, transform 0.8s;
}

.wrapper:hover {
    transform: translateY(-10px);
}

.wrapper:hover .content{
    filter: blur(1px);
    background-color: rgb(31, 21, 165, 0);
    transform: translateY(-10px);
}

.wrapper:hover .fa-brands {
    opacity: 1;
}
